*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    font-weight: 500;
    min-height: 100vh;
}

header, form{
    font-size: 1.5rem;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
    border-radius: 10px;
    text-align: center;
}

.todo-input:focus-visible {
    outline: none;
}

form .todo-button{
    height: 45px;
    width: 45px;
    color: #d88771;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    margin: 10px;
    /* border-radius: 50%; */
}

form .todo-button svg{
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

form .todo-button:hover{
    opacity: 0.5;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list
{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.todo li{
    flex: 1;
}

.trash-button, .complete-button{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    height: 60px;
    width: 60px;
}

.complete-button{
    background: rgb(3,204,73);
}

.todo-item{
    padding: 0rem 1rem;
}

svg{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateX(8rem);
    opacity: 0;
}

select{
    appearance: none;
    outline: none;
    border: none;
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1rem;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    pointer-events: none;
    color: #ff6f47;

}