.navbar{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 50px;
    height: 100%;
    width: 100%;
    background: lightcoral;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: lightcyan;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}